# Access MySQL Using Scala

This notebook shows how to access MySQL using Scala by following the steps below:
1. Import the _JDBC_ library
1. Identify and enter the database connection credentials
1. Create the database connection
1. Create a table
1. Instert some data into table
1. Query the data
1. Close the database connection


## What is MySQL?

MySQL is an open-source relational database management system (RDBMS) that is widely used as client–server model RDBMS.

## Why MySQL?

When dealing with large datasets (for example a 50 GB dataset) that potentially exceed the memory of your machine (RAM), it is nice to have another possibility such as a MySQL database, where you can query the data in smaller digestible chunks. In this way, you just query data in smaller chunks (for instance 2 GB), and leave resources for the computation.


## Import the JDBC library
Scala code gets compiled into byte code that runs on a Java™ virtual machine (JVM), which allows Scala applications to directly call Java libraries. Therefore, accessing MySQL from a Scala application is simply a matter of using the existing JDBC driver for DB2: the IBM Data Server Driver for JDBC and SQLJ.

In [ ]:
import com.mysql.jdbc.Driver
import java.sql.{Connection, DriverManager, ResultSet};
java.sql.DriverManager.registerDriver(new com.ibm.db2.jcc.DB2Driver)

## Confirm that MySQL is Running
First, you should have a MySQL instance installed and running in the cloud. You can use [Amazon RDS (Relational Database Service)](http://aws.amazon.com/rds/mysql/) to set up, operate, and scale a MySQL instance.  
__Notice:__ if you are using Amazon RDS service, make sure it accept connections from every IP.


You can test to see if MySQL is installed by opening your terminal and typing “mysql”. If you receive an error that MySQL cannot connect, it means that MySQL is installed, but not running.

## Identify the database connection credentials

Connecting to MySQL database requires the following information:
* Host name or IP address 
* Host port
* default database name
* User ID
* User Password

All of this information must be captured in a connection string in a subsequent step.

In [ ]:
//Enter the values for you database connection
val dsn_database = ""            // e.g. "MySQLdbtest"
val dsn_hostname = "" // e.g.: "mydbinstance.cz6pjylrdjko.us-east-1.rds.amazonaws.com"
val dsn_port = 3306                // e.g. 3306 
val dsn_uid = ""        // e.g. "user1"
val dsn_pwd = ""      // e.g. "7dBZ3jWt9xN6$o0JiX!m"

## Create the database connection
get a connection, if a connect cannot be made an exception will be raised here.  
__connection__ will return a cursor object, you can use this cursor to perform queries

In [ ]:
val jdbcurl  = "jdbc:mysql://"+ dsn_hostname +":"+ dsn_port +"/"+ dsn_database +"?user="+ dsn_uid +"&password=" +dsn_pwd
val connection = java.sql.DriverManager.getConnection(jdbcurl)
connection

## Create a table
We create a test table namely __Cars__. Use the below code to drop the __Cars__ table if it already exist and then create the table.

In [ ]:
val statement = connection.createStatement
statement.executeUpdate("DROP TABLE IF EXISTS Cars")
statement.executeUpdate("CREATE TABLE Cars(Id INTEGER PRIMARY KEY, Name VARCHAR(20), Price INT)")

## Instert some data into table
Following cell shows how we can create records in our __Cars__ table created in above cell:

In [ ]:
statement.executeUpdate("INSERT INTO Cars VALUES(1,'Audi',52642)")
statement.executeUpdate("INSERT INTO Cars VALUES(2,'Mercedes',57127)")
statement.executeUpdate("INSERT INTO Cars VALUES(3,'Skoda',9000)")
statement.executeUpdate("INSERT INTO Cars VALUES(4,'Volvo',29000)")
statement.executeUpdate("INSERT INTO Cars VALUES(5,'Bentley',350000)")
statement.executeUpdate("INSERT INTO Cars VALUES(6,'Citroen',21000)")
statement.executeUpdate("INSERT INTO Cars VALUES(7,'Hummer',41400)")
statement.executeUpdate("INSERT INTO Cars VALUES(8,'Volkswagen',21600)")

## Query the data
Following Scala code shows how we can fetch and display records from our __Cars__ table:

To perform a query, you can use a cursor, and then you can execute queries on it:

In [ ]:
val statement = connection.createStatement
val rs = statement.executeQuery("SELECT * FROM Cars")
while (rs.next) {
  val host = rs.getString("Id")
  val user = rs.getString("Name")
  println("ID = %s, Car name = %s".format(host,user))
}

## Close the Connection
It is good practice to close your database connection after work is done.

In [ ]:
connection.close()

## Want to learn more?

<a href="http://bigdatauniversity.com/courses/scala-course/?utm_source=tutorial-mysql-scala&utm_medium=dswb&utm_campaign=bdu"><img src = "https://ibm.box.com/shared/static/qe9ofshd0nrhgcx7620cdf0a6mgn1qd2.png"> </a>


<h3>Authors:</h3>
<article class="teacher">
<div class="teacher-image" style="    float: left;
    width: 115px;
    height: 115px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    padding: 3px;
    border-radius: 3px;
    text-align: center;"><img class="alignnone wp-image-2258 " src="https://ibm.box.com/shared/static/tyd41rlrnmfrrk78jx521eb73fljwvv0.jpg" alt="Saeed Aghabozorgi" width="178" height="178" /></div>
<h4>Saeed Aghabozorgi</h4>
<p><a href="https://ca.linkedin.com/in/saeedaghabozorgi">Saeed Aghabozorgi</a>, PhD is a Data Scientist in IBM with a track record of developing enterprise level applications that substantially increases clients’ ability to turn data into actionable knowledge. He is a researcher in data mining field and expert in developing advanced analytic methods like machine learning and statistical modelling on large datasets.</p>
</article>
<article class="teacher">
<div class="teacher-image" style="    float: left;
    width: 115px;
    height: 115px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    padding: 3px;
    border-radius: 3px;
    text-align: center;"><img class="alignnone size-medium wp-image-2177" src="https://ibm.box.com/shared/static/2ygdi03ahcr97df2ofrr6cf8knq4kodd.jpg" alt="Polong Lin" width="300" height="300" /></div>
<h4>Polong Lin</h4>
<p>
<a href="https://ca.linkedin.com/in/polonglin">Polong Lin</a> is a Data Scientist at IBM in Canada. Under the Emerging Technologies division, Polong is responsible for educating the next generation of data scientists through Big Data University. Polong is a regular speaker in conferences and meetups, and holds a M.Sc. in Cognitive Psychology.</p>
</article>

<hr>
Copyright &copy; 2016 [Big Data University](https://bigdatauniversity.com/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).​