In [30]:
import com.ibm.spark.ingest.Extensions._

# Data preparation tutorial
In this tutorial, we will use Scala to discover drug and customer data, examine data profiles, view value distributions, and assess data quality. Each section will prepare the data for further analysis

## Part 1: Discover drug data from a directory of multiple file types
The source directory /data/sampleDataDir contains several JSON files of drug data and one CSV file of customer data.
File format discovery will load the most occuring type of data by default. In this case, the JSON drug data will be loaded.

In [31]:
import sys.process._
import java.net.URL
import java.io.File

def fileDownloader(url: String, filename: String) = {
    new URL(url) #> new File(filename) !!
}

fileDownloader("https://ibm.box.com/shared/static/9nxnsf6xwmuczjea911xjxp8l21yyd2x.zip", "/resources/Sparklingdataset.zip")

Sparkling feature - You can give a directory with folders/subfolders containing mixed types of files. 
Sparkling.data discovers your file types and returns a dataframe representing the most occurring type
It will also gives visibility into the variety and ability to choose specific types. See more in Part 2

In [32]:
val sqlContext = new org.apache.spark.sql.SQLContext(sc)

In [33]:
val df = sqlContext.read.format("com.ibm.spark.discover").load("/resources/data/sparklingdata/data/sampleDataDir")

## Visualize the drug data
Now that the drug data is loaded, use this script to provide different formats for visualizing the data.

In [34]:
df.printSchema()
df.show()

root
 |-- Age: long (nullable = true)
 |-- BP: string (nullable = true)
 |-- Cholestrol: string (nullable = true)
 |-- Cost: string (nullable = true)
 |-- DateTested: string (nullable = true)
 |-- Drug: string (nullable = true)
 |-- Ent#: long (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Potassium: double (nullable = true)
 |-- Sodium: double (nullable = true)

## Visualize data types and distribution profiles
Run the following script to produce four interactive charts so that we can explore the distribution profiles of the data.

Sparkling feature - Types and distributions specific to types are discovered to return an enriched dataframe
You can visualize the summary statistics to discover quality issues with your data

In [35]:
val dfProfile = df.inferTypes.profile
dfProfile.printSchema
dfProfile.printProfile

root
 |-- Age: long (nullable = true)
 |-- BP: string (nullable = true)
 |-- Cholestrol: string (nullable = true)
 |-- Cost: short (nullable = true)
 |-- DateTested: timestamp (nullable = true)
 |-- Drug: string (nullable = true)
 |-- Ent#: long (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Potassium: double (nullable = true)
 |-- Sodium: double (nullable = true)

# Investigate and fix any bad data
As we can see in the charts above, the numeric distributions chart shows 13 nulls in the Cost column. Let us investigate this further and fix any bad data.

Sparkling feature - Fix bad data to make it ready for analysis.

In [36]:
val dfBaddata = df.enrich.option("revealNA", Map("mode" -> "any", "brackets" -> (">[", "]<"))).inferTypes
dfBaddata.show

In [37]:
val dfCostBaddata = df.enrich.option("columns", Array("Cost")).option("revealNA", Map("mode" -> "any","type" -> ("struct"))).inferTypes
dfCostBaddata.show

###  Fix bad data

In [38]:
val drugDfForAnalysis_1 = df.enrich.
  option("columns", Array("Cost")). 
  option("locale", "es").
  option("groupingUsed", true).
  option("extractFields",false).inferTypes
drugDfForAnalysis_1.printSchema
drugDfForAnalysis_1.show
drugDfForAnalysis_1.printTypes

root
 |-- Age: long (nullable = true)
 |-- BP: string (nullable = true)
 |-- Cholestrol: string (nullable = true)
 |-- Cost: string (nullable = true)
 |-- DateTested: string (nullable = true)
 |-- Drug: string (nullable = true)
 |-- Ent#: long (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Potassium: double (nullable = true)
 |-- Sodium: double (nullable = true)

+---+------+----------+--------+-------------------+-----+----+------+---------+--------+
|Age|    BP|Cholestrol|    Cost|         DateTested| Drug|Ent#|Gender|Potassium|  Sodium|
+---+------+----------+--------+-------------------+-----+----+------+---------+--------+
| 23|  HIGH|      HIGH|      11|1980-10-11T10:10:20|drugY|   1|     F| 0.031258|0.792535|
| 47|   LOW|      HIGH|      14|1980-11-14T09:10:20|drugC|   2|     M| 0.056468|0.739309|
| 47|   LOW|      HIGH|      14|1980-11-14T09:10:20|drugC|   3|     M| 0.068944|0.697269|
| 28|NORMAL|      HIGH|   05,14|1990-05-14T05:12:05|drugX|   4|     F| 0.072289|0.563682|
| 61|   LOW|      HIGH|   10,21|1980-10-11T10:10:20|drugY|   5|     F| 0.030998|0.559294|
| 22|NORMAL|      HIGH|      19|1990-05-14T05:12:05|drugX|   6|     F| 0.078647|0.676901|
| 49|NORMAL|      HIGH|      80|1980-10-11T10:10:20|drugY|   7|     F| 0.048518|0.789637|
| 41|   LOW|      HIGH|   11,14|1980-11-14T09:10:20|drugC|   8|     M| 0.069461|0.766635|
| 60|NORMAL|      HIGH|      11|1980-10-11T10:10:20|drugY|   9|     M|  0.05123|0.777205|
| 43|   LOW|    NORMAL|     198|1980-10-11T10:10:20|drugY|  10|     M| 0.027164|0.526102|
| 47|   LOW|      HIGH|    1,14|1980-11-14T09:10:20|drugC|  11|     F| 0.076147|0.896056|
| 34|  HIGH|    NORMAL|1.981,09|1980-10-11T10:10:20|drugY|  12|     F| 0.034782|0.667775|
| 43|   LOW|      HIGH|8.010,11|1980-10-11T10:10:20|drugY|  13|     M| 0.040746|0.626527|
| 74|   LOW|      HIGH|   10,11|1980-10-11T10:10:20|drugY|  14|     F| 0.037851|0.792674|
| 50|NORMAL|      HIGH|5.000,14|1990-05-14T05:12:05|drugX|  15|     F| 0.065166| 0.82778|
| 16|  HIGH|    NORMAL|    1,11|1980-10-11T10:10:20|drugY|  16|     F| 0.053742|0.833837|
| 69|   LOW|    NORMAL| 1.514,9|1990-05-14T05:12:05|drugX|  17|     M| 0.074111|0.848948|
| 43|  HIGH|      HIGH|2.005,14|2009-05-14T05:12:05|drugA|  18|     M| 0.046979|0.656371|
| 23|   LOW|      HIGH|1.911,14|1980-11-14T09:10:20|drugC|  19|     M| 0.076609| 0.55906|
| 32|  HIGH|    NORMAL|1.980,10|1980-10-11T10:10:20|drugY|  20|     F| 0.024773|0.643455|
+---+------+----------+--------+-------------------+-----+----+------+---------+--------+
only showing top 20 rows

In [39]:
val drugDfForAnalysis = df.enrich.
  option("locale", "es").
  option("groupingUsed", true).
  option("extractFields", true).
  inferTypes
  
 drugDfForAnalysis.printSchema
drugDfForAnalysis.show

root
 |-- Age: long (nullable = true)
 |-- BP: string (nullable = true)
 |-- Cholestrol: string (nullable = true)
 |-- Cost: float (nullable = true)
 |-- DateTested: timestamp (nullable = true)
 |-- Drug: string (nullable = true)
 |-- Ent#: long (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Potassium: double (nullable = true)
 |-- Sodium: double (nullable = true)

## Explore the statistics and distributions

In [53]:
val discovered_types = dfProfile.render("types")
discovered_types.show

+---------+-------------------+----------+
|     name|              value|    column|
+---------+-------------------+----------+
|     Long|                1.0|       Age|
|   String|                1.0|        BP|
|   String|                1.0|Cholestrol|
|    Short|0.16666666666666666|      Cost|
|   String|0.43333333333333335|      Cost|
|     Byte|                0.4|      Cost|
|Timestamp|                1.0|DateTested|
|   String|                1.0|      Drug|
|     Long|                1.0|      Ent#|
|   String|                1.0|    Gender|
|   Double|                1.0| Potassium|
|   Double|                1.0|    Sodium|
+---------+-------------------+----------+

In [60]:
val discovered_types_Cost = discovered_types.select("name","value", "column").filter("column = 'Cost'")
discovered_types_Cost.show

+------+-------------------+------+
|  name|              value|column|
+------+-------------------+------+
| Short|0.16666666666666666|  Cost|
|String|0.43333333333333335|  Cost|
|  Byte|                0.4|  Cost|
+------+-------------------+------+

In [61]:
val discovered_stats = dfProfile.render("stats")
discovered_stats.filter(discovered_stats("column") === "Cost").show

+--------+------------------+------+
|    name|             value|column|
+--------+------------------+------+
|   count|              17.0|  Cost|
|    mean|162.76470588235293|  Cost|
|     min|              11.0|  Cost|
|     max|             811.0|  Cost|
|   range|             800.0|  Cost|
|  stddev|               NaN|  Cost|
|variance|               NaN|  Cost|
+--------+------------------+------+

In [62]:
val discovered_histogram = dfProfile.render("histogram")
discovered_histogram.filter(discovered_histogram("column") === "Cost").show

+-----------+-----+------+
|       name|value|column|
+-----------+-----+------+
|    NaN-NaN|   13|  Cost|
|  11.0-51.0|    7|  Cost|
|  51.0-91.0|    2|  Cost|
| 91.0-131.0|    3|  Cost|
|131.0-171.0|    0|  Cost|
|171.0-211.0|    3|  Cost|
|211.0-251.0|    0|  Cost|
|251.0-291.0|    0|  Cost|
|291.0-331.0|    0|  Cost|
|331.0-371.0|    0|  Cost|
|371.0-411.0|    0|  Cost|
|411.0-451.0|    0|  Cost|
|451.0-491.0|    0|  Cost|
|491.0-531.0|    0|  Cost|
|531.0-571.0|    0|  Cost|
|571.0-611.0|    0|  Cost|
|611.0-651.0|    0|  Cost|
|651.0-691.0|    0|  Cost|
|691.0-731.0|    0|  Cost|
|731.0-771.0|    0|  Cost|
+-----------+-----+------+
only showing top 20 rows

In [59]:
val discovered_labels = dfProfile.render("labels")
discovered_labels.show

+------+-----+----------+
|  name|value|    column|
+------+-----+----------+
|   LOW|   16|        BP|
|NORMAL|    7|        BP|
|  HIGH|    7|        BP|
|  HIGH|   20|Cholestrol|
|NORMAL|   10|Cholestrol|
| drugY|   19|      Drug|
| drugC|    5|      Drug|
| drugX|    5|      Drug|
| drugA|    1|      Drug|
|     F|   16|    Gender|
|     M|   14|    Gender|
+------+-----+----------+

In [58]:
val discovered_datetime = dfProfile.render("datetime")
discovered_datetime.show

+--------------------+-----+----------+
|                name|value|    column|
+--------------------+-----+----------+
|1980-10-11 10:10:...|   24|DateTested|
|1982-03-17 12:19:...|    0|DateTested|
|1983-08-21 14:28:...|    0|DateTested|
|1985-01-24 16:37:...|    0|DateTested|
|1986-06-30 18:46:...|    0|DateTested|
|1987-12-04 20:55:...|    0|DateTested|
|1989-05-09 23:04:...|    5|DateTested|
|1990-10-14 01:13:...|    0|DateTested|
|1992-03-19 03:23:...|    0|DateTested|
|1993-08-23 05:32:...|    0|DateTested|
|1995-01-27 07:41:...|    0|DateTested|
|1996-07-02 09:50:...|    0|DateTested|
|1997-12-06 11:59:...|    0|DateTested|
|1999-05-12 14:08:...|    0|DateTested|
|2000-10-15 16:17:...|    0|DateTested|
|2002-03-21 18:26:...|    0|DateTested|
|2003-08-25 20:35:...|    0|DateTested|
|2005-01-28 22:44:...|    0|DateTested|
|2006-07-05 00:53:...|    0|DateTested|
|2007-12-09 03:02:...|    1|DateTested|
+--------------------+-----+----------+

## Store data frame to disk and verify

In [46]:
drugDfForAnalysis.write.format("com.ibm.spark.discover").save("/resources/data/sparklingdata/data/sampleDataDir/temp/drugDfForAnalysis.json")

In [47]:
val dfSavedDrugInfo2015 = sqlContext.read.format("com.ibm.spark.discover").load("/resources/data/sparklingdata/data/sampleDataDir/temp/drugDfForAnalysis.json")
dfSavedDrugInfo2015.printSchema()
dfSavedDrugInfo2015.show()

Not available
root
 |-- Age: long (nullable = true)
 |-- BP: string (nullable = true)
 |-- Cholestrol: string (nullable = true)
 |-- Cost: double (nullable = true)
 |-- DateTested: string (nullable = true)
 |-- Drug: string (nullable = true)
 |-- Ent#: long (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Potassium: double (nullable = true)
 |-- Sodium: double (nullable = true)

# Part 2: Explore customer data and prepare for analysis
Now that we have explored our drug data, let us explore our customer data.

In [48]:
val dfCust = sqlContext.read.format("com.ibm.spark.discover").load("/resources/data/sparklingdata/data/sampleDataDir/customers.csv")
dfCust.printSchema
dfCust.show

Not available
root
 |-- C0: string (nullable = true)
 |-- C1: string (nullable = true)
 |-- C2: string (nullable = true)
 |-- C3: string (nullable = true)
 |-- C4: string (nullable = true)

In [49]:
val dfcsv_infer = dfCust.enrich.option("semanticTypes", true).option("extractFields", true).inferTypes
dfcsv_infer.printSchema
dfcsv_infer.show

root
 |-- C0: string (nullable = true)
 |-- C1: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |    |-- person: string (nullable = true)
 |-- C2: struct (nullable = true)
 |    |-- organization: string (nullable = true)
 |-- C3: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- stateorprovince: string (nullable = true)
 |    |-- zip: string (nullable = true)
 |    |-- address: string (nullable = true)
 |-- C4: float (nullable = true)

In [50]:
val dfcsv_reveal = dfCust.enrich.option("semanticTypes", true).option("revealNA", Map("mode" -> "any", "brackets" -> (">[", "]<"))).inferTypes
dfcsv_reveal.show

In [51]:
val dfCustProfiled = dfCust.enrich.option("semanticTypes", true).inferTypes.profile
dfCustProfiled.printTypes
dfCustProfiled.printProfile

C0:{"inferred_type":"String","inferred_occurrence":"100","threshold%":"50","DiscoveredDataTypes":[String],"DiscoveredDataTypePercentages":[1.0]}
C1:{"inferred_type":"Person","inferred_occurrence":"96","threshold%":"50","DiscoveredDataTypes":[Person, String],"DiscoveredDataTypePercentages":[0.967741935483871, 0.03225806451612903]}
C2:{"inferred_type":"Organization","inferred_occurrence":"80","threshold%":"50","DiscoveredDataTypes":[Organization, String],"DiscoveredDataTypePercentages":[0.8064516129032258, 0.1935483870967742]}
C3:{"inferred_type":"Address","inferred_occurrence":"100","threshold%":"50","DiscoveredDataTypes":[Address],"DiscoveredDataTypePercentages":[1.0]}
C4:{"inferred_type":"Float","inferred_occurrence":"100","threshold%":"50","DiscoveredDataTypes":[Short, Float],"DiscoveredDataTypePercentages":[0.8064516129032258, 0.1935483870967742]}

C0:{"StatsNames":["count","numberOfCategories","mode"],"inferred_type":"String","inferred_occurrence":100,"Percentages":[0.06451612903225806,0.06451612903225806,0.03225806451612903,0.03225806451612903,0.03225806451612903,0.03225806451612903],"DiscoveredDataTypePercentages":[1.0],"Values":[2,2,1,1,1,1],"Labels":["t4563","t1239","t2224","t5823","t8763","t1234"],"threshold%":50,"Stats":["31","29","t4563"],"DiscoveredDataTypes":["String"]}
C1:{"StatsNames":["count","numberOfCategories","mode"],"inferred_type":"Person","inferred_occurrence":96,"Percentages":[0.0967741935483871,0.06451612903225806,0.06451612903225806,0.06451612903225806,0.06451612903225806,0.03225806451612903],"DiscoveredDataTypePercentages":[0.967741935483871,0.03225806451612903],"Values":[3,2,2,2,2,1],"Labels":["Lisa McDonald","Jen Norman","Stephen Brewster","Mary Burchfield","Lonnie Leo Gomez","Peter Frost"],"threshold%":50,"Stats":["31","25","Lisa McDonald"],"DiscoveredDataTypes":["Person","String"]}
C2:{"StatsNames":["count","numberOfCategories","mode"],"inferred_type":"Organization","inferred_occurrence":80,"Percentages":[0.1935483870967742,0.16129032258064516,0.12903225806451613,0.06451612903225806,0.06451612903225806,0.06451612903225806],"DiscoveredDataTypePercentages":[0.8064516129032258,0.1935483870967742],"Values":[6,5,4,2,2,2],"Labels":["Bank of America","Bank of Texas","Wells Fargo","First American Bank","","UNITED HEALTHCARE SERVICES"],"threshold%":50,"Stats":["31","13","Bank of America"],"DiscoveredDataTypes":["Organization","String"]}
C3:{"StatsNames":["count","numberOfCategories","mode"],"inferred_type":"Address","inferred_occurrence":100,"Percentages":[0.16129032258064516,0.16129032258064516,0.12903225806451613,0.12903225806451613,0.06451612903225806,0.06451612903225806],"DiscoveredDataTypePercentages":[1.0],"Values":[5,5,4,4,2,2],"Labels":["1234 Airline Dr, San Diego, CA","1463 Braxton Street,Chicago, IL","4589 Holly Street, Athens, GA 30606,USA","69221 Newman Rd, Portland, Oregon, United States","4075 Harley Brook Lane,Corry,PA,16407","1463 Braxton Street, Chicago\tIL, 60607"],"threshold%":50,"Stats":["31","13","1234 Airline Dr, San Diego, CA"],"DiscoveredDataTypes":["Address"]}
C4:{"StatsNames":["count","numberOfCategories","mode"],"inferred_type":"Float","inferred_occurrence":100,"Percentages":[0.0967741935483871,0.0967741935483871,0.06451612903225806,0.06451612903225806,0.03225806451612903,0.03225806451612903],"DiscoveredDataTypePercentages":[0.8064516129032258,0.1935483870967742],"Values":[3,3,2,2,1,1],"Labels":["450","1000","2000","540","800","600"],"threshold%":50,"Stats":["31","25","450"],"DiscoveredDataTypes":["Short","Float"]}

# Summary
This tutorial showed how to discover and explore data and prepare it for further analysis. You can copy this notebook or parts of this notebook into your own notebook and adjust the code as needed.

Sparkling feature - Discover variety of data types, clean them and make them ready for analysis using scala / python

## Want to learn more?

<a href="http://bigdatauniversity.com/courses/scala-course/?utm_source=tutorial-sparkling-scala&utm_medium=dswb&utm_campaign=bdu"><img src = "https://ibm.box.com/shared/static/qe9ofshd0nrhgcx7620cdf0a6mgn1qd2.png"> </a>

Created by: <a href="https://bigdatauniversity.com/?utm_source=bducreatedbylink&utm_medium=dswb&utm_campaign=bdu">The Cognitive Class Team</a>